:root {
    --color-primary:#4D5158;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.top-container {
    flex-grow: 1;
    overflow: auto;
    display: flex;
}

.bottom-navbar {
    flex-shrink: 0;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.sidebar {
    width: 60px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.sidebar .top-section {
    flex-shrink: 0;
}

.sidebar .middle-section {
    flex-grow: 1;
    overflow: auto;
}

.sidebar .middle-section .playlist-container {
    display: none;
}

.sidebar .bottom-section {
    flex-shrink: 0;
}

.sidebar .sidebar-list {
    list-style: none;
}

.sidebar .sidebar-list .logo-large {
    display: none;
}
.main-logo .logo-large {
    display: block;
    width: 60%;
    height: auto;
}
.main-logo .logo-small {
    display: block;
    width: 100%;
    height: auto;
}
.profile{
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 100%;
    
}
.profile-circ{
    display: block;
    width: 65%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    background-color: gray;
}

.sidebar .sidebar-list a {
    display: flex;
    padding: .8rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.sidebar .sidebar-list .list-item-text {
    display: none;
}
.list-item-text-user{
    display: none;
}

.main-container {
    flex-grow: 1;
    overflow: auto;
    background-color: #141922;
}

.nav-bar-upgrade{
    display: flex;
    justify-content: flex-end;
    background-color: #090B12;
    padding: 1.3rem 0;
    position: sticky;
    top: 0;
}
.btn-upg{
    color: white;
    background-color: #090B12;
    border-radius: 30px;
    border: 1px solid white;
    padding: 0.8rem 2.5rem;
}
.tab-container a{
    color: var(--color-primary);
    text-decoration: none;
    padding: 1rem 0.5rem;
    display: block;
    
}
.tab-container li{
    list-style: none;
}
.tab-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list-item-icon{
    color: var(--color-primary);
    font-size: 1.5rem;
}
.icn-small{
    font-size: 1rem;
}
.icn-user{
    background-color: gray;
    border-radius: 100%;
    height: 15%;
    width: 15%;
    aspect-ratio: 1 / 1;
}
.icn-user .list-item-icon-user i{
    margin-left: 6px;
    margin-top: 6px;
    color: white;
    font-size: 1.5rem;
}
.list-item-icon-play{
    font-size: 2rem;
    color: black;
    text-align: center;
    vertical-align: middle;
}   
.playlist-icon{
    background-color: gray;
    padding: 0.3rem 0.5rem;
    margin-right: 0.8rem;
    
}
.list-item-text{
    color: var(--color-primary);
}
.list-item-text-user{
    padding-left: 1rem;
}

.hr-type{
    height: 1px;
    width: 80%;
    background-color: var(--color-primary);
    margin-left: 1rem ;
}

.list-item-img{
    display: inline-block;
    width: 100%;
    height: 100%;
    
    background-color: gray;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}
.doe-img{
    display: flex;
    
}
.white{
    color: white;
}

.col-1_2{
    flex-basis: calc(100% / 2);
}
.col-1_6{
    flex-basis: calc(100% / 6);
    flex-shrink: 0;
}
.col-2_6{
    flex-basis: calc(100% / 6 * 2);
    flex-grow: 1;
}

.img-container img{
    display: block;
    height: auto;
    width: 100%;

}
.img-container-circ img{
    display: block;
    height: auto;
    width: 100%;
    border-radius: 100%;

}


.card{
    text-align: center;
}   

.color-primary{
    color: var(--color-primary);
}
.card h3{
    padding: 0.5rem 0 ;
}
.card-section h2{
    padding: 1rem 0.5rem;
}
.card{
    padding: 0.5rem;
}
.row-sub{
    padding: 0.5rem 0.5rem;
}
.green-bar{
    height: 2px;
    width: 40%;
    color: lime;
}
.playlist-container h3{
    padding-left: 1rem;
}
.btm-left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btm-center{
    
}

.btm-left i {
    padding: 0 0.5rem;
}
.song-img img{
    display: block;
    width: 4.5vw;
    height: auto;
    aspect-ratio: 1 / 1;
    min-width: 30px;
}
.song-img{
    padding: 0 0.5rem;
}
.song-description{
    padding-right: 2rem;
}
.song-icons{
    display: flex;
    flex-direction: column;
    
}
.song-icons i{
    padding-bottom: 0.3rem;
}
.song-details{
    display: flex;
    justify-content: center;
    align-items: center;
}
.song-time{
    font-size: 0.5rem;
}

.btm-top-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}
.btm-top-icons i{
    padding: 0 .5rem;
}
.btm-bar{
    display: flex;
    align-items: center;
}
.btm-right{
    display: flex;
    align-items: center;
}
.sound-icons{
    display: flex;
}
.sound-icons i{
    padding: 0 0.3rem;
}

.progress-bg {
    height: 4px;
    border-radius: 2px;
    background-color: grey;
    width: 25vw;
}
.progress-container {
    padding: 1rem 0.3rem;
    position: relative;
}

.progress-overlay {
    height: 4px;
    border-radius: 2px;
    background-color: white;
    width: 10vw;
}

.progress-bg-2 {
    height: 4px;
    border-radius: 2px;
    background-color: grey;
    width: 6vw;
}

.progress-overlay-2 {
    height: 4px;
    border-radius: 2px;
    background-color: white;
    width: 1vw;
}

.color-icons{
    color: #DDDDDD;
}
#play{
    font-size: 2rem;
}
.